/* == Global CSS (CSS Style For All Page) == */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #222F54;
}

p {
    font-size: 14px;
}

/* Scrollbar Style */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ebebeb;
}

::-webkit-scrollbar-thumb {
    background: #FF3D48;
    border-radius: 2px;
}
/* End Of Scrollbar Style */

/* Font Weight (Default Regular : 400) */
.fw-medium {
    font-weight: 500;
}

.fw-semibold {
    font-weight: 600;
}
/* End Of Font Weight (Default Regular : 400) */

/* Color & Bg-Color */
.color-1 {
    color: #FF3D48;
}

.color-2 {
    color: #097FFB;
}

.color-3 {
    color: #222F54;
}

.bg-color-1 {
    background-color: #FF3D48;
}
/* End Of Color */

/* Button */
.primary-btn {
    background-color: #FF3D48;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    box-shadow: none !important;
    border: 1px solid #FF3D48;
    border-radius: 2px;
}

.primary-btn:hover {
    color: #ffffff;
    filter: brightness(85%);
}

.primary-btn-outline {
    background-color: transparent;
    color: #FF3D48;
    font-size: 13px;
    font-weight: 500;
    box-shadow: none !important;
    border: 1px solid #FF3D48;
    border-radius: 2px;
}

.primary-btn-outline:hover {
    background-color: #FF3D48;
    color: #ffffff;
}

.secondary-btn-outline {
    background-color: transparent;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    box-shadow: none !important;
    border: 1px solid #ffffff;
    border-radius: 2px;
}

.secondary-btn-outline:hover {
    background-color: #ffffff;
    color: #222F54 !important;
}

/* End Of Button */

/* == End Of Global CSS (CSS Style For All Page) == */

/* == Page index.html == */

/* Navbar (Home Navbar) */
#home-navbar .nav-menu {
    margin: 0px 5px;
}

#home-navbar .nav-item .nav-link {
    font-size: 14px;
    color: #222F54;
}

#home-navbar .nav-link.active {
    color: #FF3D48;
}

#home-navbar .btn-donate-now, .btn-looking-for-donors {
    padding: 7px 15px !important;
}

#home-navbar .btn-looking-for-donors {
    color: #FF3D48 !important;
}

#home-navbar .btn-looking-for-donors:hover {
    color: #ffffff !important;
}
/* End Of Navbar (Home Navbar) */

/* Jumbotron */
#jumbotron {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 0, 0.80), rgb(0, 0, 0, 0.80)), url('../images/background/nguy-n-hi-p-2rNHliX6XHk-unsplash.jpg');
    height: 105vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#jumbotron .heading {
    padding-top: 200px;
}

#jumbotron .btn-donate-now, .btn-learn-more {
    padding: 10px 20px;
    margin: 0px 5px;
}

#jumbotron .btn-learn-more {
    color: white;
}

/* End Of Jumbotron */

/* About */
#about .checkmark-icon {
    font-size: 20px;
    vertical-align: middle;
    color: #42ba96;
}
/* And Of About */
/* == End Of Page index.html == */